@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  touch-action: pan-y;
}

*::-webkit-scrollbar {
  background-color: transparent;
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-button {
  display: none;
}
